{{#if blogPosts}}
{{#each blogPosts}}
{{> blog_post post=this}}
{{#unless @last}}
<hr class="feed-separator">
{{/unless}}
{{/each}}
{{else}}
{{{__ "no blog posts"}}}
{{/if}}
<br>
{{#if blogPostsUTCISODate}}
<a class="pagination-link" href="/team/{{team.id}}/blog/before/{{blogPostsUTCISODate}}">
<span class="fa fa-angle-double-left spaced-icon"></span>{{{__ "older blog posts"}}}
</a>
{{/if}}
