{{#unless blogPosts}}
{{{__ "no blog posts"}}}
{{/unless}}
{{#if team.userCanBlog}}
<p>
<a href="/team/{{team.id}}/new/post" id="write-blog" class="pure-button button-rounded edit-button"><span class="fa fa-fw fa-pencil spaced-icon">&nbsp;</span>{{{__ "write a blog post"}}}</a><p>
{{/if}}
{{#if blogPosts}}
{{#each blogPosts}}
{{> blog_post post=this}}
{{#unless @last}}
<hr class="feed-separator">
{{/unless}}
{{/each}}
{{/if}}
<br>
{{#if blogPostsUTCISODate}}
<a class="pagination-link" href="/team/{{team.id}}/blog/before/{{blogPostsUTCISODate}}">
<span class="fa fa-angle-double-left fa-fw">&nbsp;</span>{{{__ "older blog posts"}}}
</a>
{{/if}}
