<div class="blog-post">
{{!We skip the title and render it differently when it's viewed on a single page}}
{{#unless skipTitle}}
<h3 class="blog-post-title">{{{mlString post.title}}}</h3>
{{/unless}}

<div class="blog-post-text">
{{{mlString post.post.html false}}}
</div>

<div class="content-meta">

<div class="blog-post-byline">{{{__ "byline" (userLink post.creator) (longDate post.createdOn)}}}</div>

<div class="content-actions no-print">
<span class="content-action"><a href="/team/{{post.teamID}}/post/{{post.id}}"><span class="fa fa-link fa-fw">&nbsp;</span>{{{__ "permanent link"}}}</a></span></span>

{{#if post.userCanDelete}}
<span class="content-action"><a href="/team/{{post.teamID}}/post/{{post.id}}/delete"><span class="fa fa-trash-o fa-fw">&nbsp;</span>{{{__ "delete"}}}</a></span></span>
{{/if}}

{{#if post.userCanEdit}}
<span class="content-action"><a href="/team/{{post.teamID}}/post/{{post.id}}/edit"><span class="fa fa-pencil fa-fw">&nbsp;</span>{{{__ "edit"}}}</a></span></span>
{{/if}}
</div>

</div>
</div>
