{{!This template generates the markdown/RTE mode switcher below each markdown-powered textarea. It's rendered server-side for performance reasons (hidden if JS is disabled), and has to take into account the user preference for RTE or markdown.

If there are multiple textareas on a page, we want to only give access keys to the first one. This is done with the noaccesskeys parameter to the template.}}
<div class="switcher-control nojs-hidden" data-pinnable>
{{!Markdown button begins}}
<span class="switcher-option {{#if user.prefersRichTextEditor}} switcher-option-selectable{{else}}switcher-option-selected{{/if}}"
data-enable-markdown {{#unless noaccesskeys}}title="{{{__ "accesskey" "m"}}}" accesskey="m"{{/unless}}>{{#unless user.prefersRichTextEditor}}<span class="fa fa-fw fa-check-circle switcher-selected-indicator">&nbsp;</span>{{/unless}}{{{__ "markdown format"}}}</span>{{!RTE button begins}}<span class="switcher-option {{#if user.prefersRichTextEditor}} switcher-option-selected{{else}}switcher-option-selectable{{/if}}"  data-enable-rte
{{#unless noaccesskeys}}title="{{{__ "accesskey" ","}}}" accesskey=","{{/unless}}>{{#if user.prefersRichTextEditor}}<span class="fa fa-fw fa-check-circle switcher-selected-indicator">&nbsp;</span>{{/if}}{{{__ "rich text format"}}}</span>
{{!Control to remember the preference for the RTE begins}}
<span class="fa fa-fw fa-thumb-tack switcher-pin {{#if user.prefersRichTextEditor}}switcher-pinned{{else}}switcher-unpinned hidden{{/if}}" data-toggle-rte-preference
{{#if user.prefersRichTextEditor}}title="{{{__ "forget rte preference"}}}{{else}}title="{{{__ "remember rte preference"}}}{{/if}}">&nbsp;</span>
</div>
