<div class="review-feed">
{{#each feedItems}}
<div id="review-{{this.id}}" class="feed-review">
{{#if @first}}
{{> review review=this feed=true thingFeed=../thingFeed singleReview=../highlightFirstReview}}
{{else}}
{{> review review=this feed=true thingFeed=../thingFeed}}
{{/if}}
</div>
{{#unless @last}}
<hr class="feed-separator">
{{/unless}}
{{/each}}
{{#if paginationURL}}
<div class="pagination-footer"><a class="pagination-link no-print" href="{{paginationURL}}" accesskey="<" title="{{{__ "accesskey" "<"}}}"><span class="fa fa-fw fa-angle-double-left">&nbsp;</span>{{{__ "older reviews"}}}</a></div>
{{/if}}
</div>
