{{!We show a little headline identifying the item type in the feed view, but nowhere else}}
{{#unless thingFeed}}
<div class="thing-data">
<b>{{{mlString review.thing.label}}}</b>
{{!Show prettified URL, if available}}
{{#if review.thing.urls.[0]}}
<div class="review-url"><span class="fa fa-external-link review-icon"></span>{{{link review.thing.urls.[0] (prettify review.thing.urls.[0])}}}</div>
{{/if}}
{{#if review.thing.id}}
<div class="review-thing-link">
<span class="fa fa-info-circle spaced-icon"></span><a href="/thing/{{review.thing.id}}">{{{__ "more info"}}}</a>
</div>
{{/if}}
</div>
{{/unless}}
<div class="review-rating">
{{!Star rating. Per https://www.w3.org/WAI/tutorials/images/groups/ we show ALT text for the first image}}
{{#times review.starRating}}
<img src="/static/img/star-{{../review.starRating}}-full.svg" width="25" class="review-star"{{#if @first}} alt="{{{__n "one or multiple stars" ../../review.starRating}}}"{{/if}}>
{{/times}}
</div>
<div class="review-title">{{{mlString review.title}}}</div>
{{!The actual review!}}
<div class="review-text">
{{{mlString review.html false}}}
</div>
<p>
{{!Review actions: Delete, edit, permanent link}}
<div class="review-actions">
{{#if feed}}
&nbsp;&nbsp;<span class="review-action"><a href="/review/{{review.id}}"><span class="fa fa-link spaced-icon"></span>{{{__ "permanent link"}}}</a></span>
{{/if}}
{{#unless hideDeleteControls}}
{{#if review.userCanDelete}}
&nbsp;&nbsp;<span class="review-action"><a href="/review/{{review.id}}/delete"><span class="fa fa-trash-o spaced-icon"></span>{{{__ "delete"}}}</a></span>
{{/if}}
{{/unless}}
{{#if review.userCanEdit}}
&nbsp;&nbsp;<span class="review-action"><a href="/review/{{review.id}}/edit"><span class="fa fa-pencil spaced-icon"></span>{{{__ "edit"}}}</a></span>
{{/if}}
</div>
{{! Date and author}}
<div class="review-byline">
{{{__ "byline" (userLink review.creator) review.createdOn}}}
</div>
