{{!We show a little headline identifying the item type in the feed view, but nowhere else}}
{{#unless thingFeed}}
<div class="thing-data">
<b>{{{mlString review.thing.label}}}</b>
{{!Show prettified URL, if available}}
{{#if review.thing.urls.[0]}}
<div class="review-url"><span class="fa fa-fw fa-external-link review-icon spaced-icon">&nbsp;</span>{{{link review.thing.urls.[0] (prettify review.thing.urls.[0])}}}</div>
{{/if}}
{{#if review.thing.id}}
<div class="review-thing-link">
<span class="fa fa-fw fa-info-circle spaced-icon">&nbsp;</span><a href="/{{{review.thing.urlID}}}">{{{__ "more info"}}}</a>
</div>
{{/if}}
</div>
{{/unless}}
<div class="review-rating">
{{!Star rating. Per https://www.w3.org/WAI/tutorials/images/groups/ we show ALT text for the first image}}
{{#times review.starRating}}
<img src="/static/img/star-{{../review.starRating}}-full.svg" width="25" height="35" class="review-star"{{#if @first}} alt="{{{__n "one or multiple stars" ../review.starRating}}}"{{/if}}>
{{/times}}
</div>
<div class="review-title">{{{mlString review.title}}}</div>
{{!The actual review!}}
<div class="review-text">
{{{mlString review.html false}}}
</div>
<p>


<div class="content-meta">

  <div class="review-teams-and-byline">
    {{!Teams, if any}}
    <div class="review-teams">
    {{#if review.teams}}
    {{{__ "posted under"}}}
    {{#each review.teams}}
    <a href="/team/{{this.urlID}}">{{{mlString this.name}}}</a>{{#unless @last}},{{/unless}}
    {{/each}}
    <br style="clear:both;">
    {{/if}}
  </div>

    {{! Date and author}}
    <div class="review-byline">
    {{{__ "byline" (userLink review.creator) (longDate review.createdOn)}}}
    </div>
  </div>

{{!Review actions: Delete, edit, permanent link}}
<div class="content-actions no-print">
{{#if feed}}
<span class="content-action"><a href="/review/{{review.id}}"><span class="fa fa-fw fa-link">&nbsp;</span>{{{__ "permanent link"}}}</a></span>
{{/if}}
{{#unless hideDeleteControls}}
{{#if review.userCanDelete}}
<span class="content-action"><a href="/review/{{review.id}}/delete"><span class="fa fa-fw fa-trash-o">&nbsp;</span>{{{__ "delete"}}}</a></span>
{{/if}}
{{/unless}}
{{#if review.userCanEdit}}
<span class="content-action"><a href="/review/{{review.id}}/edit"><span class="fa fa-fw fa-pencil">&nbsp;</span>{{{__ "edit"}}}</a></span>
{{/if}}
</div>
</div>
