<div class="review-rating">
{{#times this.starRating}}
{{!per https://www.w3.org/WAI/tutorials/images/groups/ we show ALT text for the first image}}
<img src="/static/img/star-{{../this.starRating}}-full.svg" width="25" class="review-star"{{#if @first}} alt="{{{__n "one or multiple stars" ../../this.starRating}}}"{{/if}}>
{{/times}}
</div>
{{#if feed}}
  <div class="feed-item-header">
  {{#if this.thing.label}}
  {{{__ "review of" this.thing.label}}}
  {{else}}
  {{{__ "review"}}}
  {{/if}}
  </div>
{{/if}}
{{#if this.thing.urls.[0]}}
<div id="review-url"><span class="fa fa-external-link review-icon"></span>{{{link this.thing.urls.[0] (prettify this.thing.urls.[0])}}}</div>
{{/if}}
{{#if this.thing.id}}
<div id="review-thing-link"><span class="fa fa-info-circle review-icon"></span><a href="/thing/{{this.thing.id}}">{{{__ "more info"}}}</a></div>
{{/if}}
<div class="review-title">{{{this.title}}}</div>
<div class="review-text">
{{{this.html}}}
</div>
<p>
<div class="review-byline">
{{{__ "review byline" this.creator.displayName this.createdAt}}}
{{#if feed}}
&nbsp;&nbsp;<span class="review-action"><a href="/review/{{this.id}}"><span class="fa fa-link spaced-icon"></span>{{{__ "permanent link"}}}</a></span>
{{/if}}
{{#unless hideDeleteControls}}
{{#if this.userCanDelete}}
&nbsp;&nbsp;<span class="review-action"><a href="/review/{{this.id}}/delete"><span class="fa fa-trash-o spaced-icon"></span>{{{__ "delete"}}}</a></span>
{{/if}}
{{/unless}}
{{#if this.userCanEdit}}
&nbsp;&nbsp;<span class="review-action"><a href="/review/{{this.id}}/edit"><span class="fa fa-pencil spaced-icon"></span>{{{__ "edit"}}}</a></span>
{{/if}}
</div>
