{{! Switcher control for reviewing via a URL or an external source}}
<div class="switcher-control nojs-hidden" id="review-source-switcher">
<span class="switcher-option switcher-option-selected" id="review-via-url" accesskey="u" title="{{{__ "accesskey" "u"}}}"><span class="fa fa-fw fa-check-circle switcher-selected-indicator">&nbsp;</span>{{{__ "review by url button label"}}}</span><span class="switcher-option switcher-option-selectable" id="review-via-database" accesskey="d" title="{{{__ "accesskey" "d"}}}">{{{__ "search databases button label"}}}
</span>
</div>
<div id="source-selector" class="hidden">
<select id="source-selector-dropdown" title="{{{__ "choose database"}}}" data-ignore-autosave>
<option name="search-source" value="wikidata">{{{__ "wikidata source label"}}}</option>
<option name="search-source" value="openlibrary">{{{__ "openlibrary source label"}}}</option>
</select>
</div>
