{{#if review.thing.userCanEdit}}
{{#if review.userIsAuthor}}
<span class="fa fa-pencil review-icon"></span><a href="/thing/{{review.thing.id}}">{{{__ "add info"}}}</a>
{{else}}
<span class="fa fa-pencil review-icon"></span><a href="/thing/{{review.thing.id}}">{{{__ "add review or info"}}}</a>
{{/if}}
{{else}}
{{#if review.userIsAuthor}}
<span class="fa fa-info-circle review-icon"></span><a href="/thing/{{review.thing.id}}">{{{__ "more info"}}}</a>
{{else}}
<span class="fa fa-pencil review-icon"></span><a href="/thing/{{review.thing.id}}#add-review">{{{__ "view metadata"}}}</a>
{{/if}}
{{/if}}
