<li class="thing-data-list-item"> <span class="fa fa-li fa-picture-o thing-data-icon">&nbsp;</span>
{{{__ "uploaded media"}}}
<p>
  {{#each thing.files}}
<div class="thing-data-file-list"><span class="thing-data-file-name">{{{getFileLink this.name}}}</span>
<br>{{{mlString this.description}}}
<div class="thing-data-file-credit">{{{fileCredit this}}}</div>
{{#if this.source}}
<div class="thing-data-file-credit">{{{__ "source in upload summary" (linkify (mlString this.source))}}}</div>
{{/if}}
{{#if this.userCanDelete}}
<div class="file-actions"><span class="file-action"><a href="/file/{{this.id}}/delete"><span class="fa fa-trash-o fa-fw">&nbsp;</span>{{{__ "delete file"}}}</a></span></div>
</div>
{{/if}}
<p>
{{/each}}
</li>
