<li class="thing-data-list-item"> <span class="fa fa-li fa-picture-o thing-data-icon">&nbsp;</span>
<span class="expand-link nojs-hidden no-print" tabindex="0" data-target="thing-data-file-list" data-toggle-text="{{__ "hide uploads"}}"><span class="expand-label">{{{__ "show uploads"}}}</span><span class="fa fa-fw fa-chevron-down expand-icon">&nbsp;</span></span>
<span class="nojs-visible print-visible hidden-regular">{{{__ "uploaded media"}}}</span>
<p>
<div id="thing-data-file-list" class="hidden-regular nojs-visible print-visible">
{{#each thing.files}}
<div class="thing-data-file-list"><span class="thing-data-file-name">{{{getFileLink this.name}}}</span>
<br>{{{mlString this.description}}}
<div class="thing-data-file-credit">{{{fileCredit this}}}</div>
{{#if this.source}}
<div class="thing-data-file-credit">{{{__ "source in upload summary" (linkify (mlString this.source))}}}</div>
{{/if}}
{{#if this.userCanDelete}}
<div class="file-actions"><span class="file-action"><a href="/file/{{this.id}}/delete"><span class="fa fa-trash-o fa-fw">&nbsp;</span>{{{__ "delete file"}}}</a></span></div>
</div>
{{/if}}
<p>
{{/each}}
</div>
</li>
