<div id="feed">
{{#each feedItems}}
<div id="review-{{this.id}}" class="feed-review">
<div class="feed-review-rating">
{{#times this.starRating}}
{{!per https://www.w3.org/WAI/tutorials/images/groups/ we show ALT text for the first image}}
<img src="/static/img/star-{{../this.starRating}}-full.svg" width="25" class="feed-star"{{#if @first}} alt="{{{__n "one or multiple stars" ../../this.starRating}}}"{{/if}}>
{{/times}}
</div>
<div class="feed-item-header">{{{__ "review"}}}</div>
{{#if this.thing.urls.[0]}}
<div id="feed-review-url">{{{link this.thing.urls.[0] (prettify this.thing.urls.[0])}}}</div>
{{/if}}
<div class="feed-review-title">{{{this.title}}}</div>
<div id="feed-review-text">
{{{this.html}}}
</div>
<p>
<div class="feed-review-byline">{{{__ "review byline" this.reviewer.displayName this.datePosted}}}</div>
</div>
{{#unless @last}}
<hr class="feed-separator">
{{/unless}}
{{/each}}
</div>
