<div class="centered-column">
<span class="lead">{{{__ "intro lead" }}}</span>
<div class="hidden-regular nojs-visible print-visible" id="extended-intro">
<p>{{{__ "intro message" }}}</p>
<p>{{{__ "find us on" }}}</p>
</div>
<p>
<div class="expand-container nojs-hidden no-print">
<span class="expand-link-main-page expand-link" tabindex="0" data-target="extended-intro" data-toggle-text="{{__ "show less"}}"><span class="expand-label">{{__ "show more"}}</span><span class="fa fa-fw fa-chevron-down expand-icon">&nbsp;</span></span>
</div>
<p>
{{#if showBlog}}
<div class="headline-with-link">
<h2 class="inline-feed-headline">{{{__ "development diary"}}}</h2>
<span class="view-all-link no-print"><a href="/team/{{team.id}}/blog">{{{__ "view all"}}}</a></span>
</div>
<p>
<table class="blog-table">
{{#each blogPosts}}
<tr>
<td>{{shortDate this.createdOn}}</td><td><a href="/team/{{../team.id}}/post/{{this.id}}" title="{{{summarize (mlString this.post.html false) 150}}}">{{{mlString this.title}}}</a>
</td>
</tr>
{{/each}}
</table>
<p>
{{/if}}
<div class="headline-with-link frontpage-headline">
<h2 class="inline-feed-headline">{{{__ "explore teams"}}}</h2>
<span class="view-all-link no-print"><a href="/teams">{{{__ "view all"}}}</a></span>
</div>
<p>
{{{__ "team intro"}}}
<p>
{{#each sampleTeams}}
<b><a href="/team/{{{this.urlID}}}">{{{mlString this.name}}}</a></b>
{{#unless @last}}
&ndash;
{{/unless}}
{{/each}}
</p>
<div class="headline-with-link frontpage-headline">
<h2 class="inline-feed-headline">{{{__ "feed"}}}</h2>
{{#if feedItems}}<span class="view-all-link no-print"><a href="/feed">{{{__ "view all"}}}</a></span>{{/if}}
</div>
<p>
{{>feed}}
</div>
