<div class="intro-text">
<span class="lead">{{{__ "intro lead" }}}</span>
<p>{{{__ "intro message" }}}</p>
<p>{{{__ "find us on" }}}</p>
{{#if showBlog}}
{{{__ "from the dev diary" team.id}}}</a>
<ul>
{{#each blogPosts}}
<li> {{shortDate this.createdOn}}: <a href="/team/{{../team.id}}/post/{{this.id}}">{{{mlString this.title}}}</a></li>
{{/each}}
</ul>
{{/if}}
<h2 class="inline-feed-title">{{{__ "feed"}}}</h2>{{#if feedItems}}<span class="view-all-link"><a href="/feed">{{{__ "view all"}}}</a></span>{{/if}}
<p>
{{>feed}}

</div>
