{{#each messages}}
  <div class="message-box">{{{this}}}</div>
{{/each}}
<p class="lead">{{{__ "intro lead" }}}</p>
<p>{{{__ "intro message" }}}</p>
{{{__ "to do list" }}}
<p>{{{__ "find us on" }}}</p>
