<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{{{__ "site name"}}}{{#if titleKey}} - {{{__ titleKey titleParam }}}{{else}}{{#if titleString}} - {{{titleString}}}{{/if}}{{/if}}</title>
    {{#each embeddedFeeds}}
    <link href="{{{this.url}}}" type="{{{this.type}}}" rel="alternate" title="{{{this.title}}}" hreflang="{{{this.language}}}"/>
    {{/each}}
    <link rel='stylesheet' href='/static/css/pure-min.css' />
    <link rel='stylesheet' href='/static/css/grids-responsive-min.css' />
    <link rel='stylesheet' href='/static/css/style.css' />
    <link rel="stylesheet" href="/static/css/font-awesome/font-awesome.css">
    <noscript>
        <style>
            .nojs-hidden {
                display: none !important;
                /* for hiding rich content/widgets when JS is disabled */
            }

            .nojs-visible {
                display: block !important;
                /* for forcing visibility on some content that's dynamic in JS */
            }
        </style>
    </noscript>
</head>

<body>
<div class="nav">
    <div class="pure-g">
        <div class="pure-u-1-2">
            <a href="/" id="home-link" accesskey="h" title="{{__ "load frontpage"}}
{{{__ "accesskey" "h"}}}"><img src="/static/img/logo.svg" id="logo" class="pure-img" alt="{{{__ "site name"}}}"></a>
      </div>
        <div class="pure-u-1-2">
            {{#if user}}
                <ul id="user-menu">
                    <li><a id="user-link" href="/user/{{user.urlName}}"><span class="fa fa-user spaced-icon"></span>{{user.displayName}}</a>
                    </li>
                    <li><a href="/new/review" class="pure-button button-cta button-rounded" accesskey="n" title="{{{__ "accesskey" "n"}}}"><span class="fa fa-pencil spaced-icon"></span>{{__ "new review"}}</a>
                        <li>
                            <form action="/signout" method="post" id="signout-form" name="signout-form">
                                <input type="hidden" value="{{csrfToken}}" name="_csrf">
                                <input class="pure-button button-rounded" id="signout-button" type="submit" accesskey="o" title="{{{__ "accesskey" "o"}}}" value="{{{__ "sign out"}}}">
                            </form>
                        </li>

                </ul>
            {{else}}
                <ul id="user-menu">
                    <li><a href="/signin" class="pure-button pure-button-primary button-rounded" accesskey="i" title="{{{__ "accesskey" "i"}}}">{{{__ "sign in"}}}</a>
                        <li><a href="/register" class="pure-button button-rounded">{{{__ "register"}}}</a>
                </ul>
            {{/if}}
        </div>
          <div class="pure-u-lg-5-24">
          </div>
          <div class="pure-u-1-1 pure-u-lg-14-24">
            <div class="search">
              <form class="pure-form" autocomplete="off" action="/actions/search" method="get">
                <label for="search-input"><span class="fa fa-search"></span></label><input name="query" id="search-input" class="pure-input-rounded" accesskey="f" title="{{{__ "accesskey" "f"}}}" placeholder="{{{__ "search lib.reviews"}}}" value="{{query}}">
              </form>
            </div>
          </div>
          <div class="pure-u-lg-5-24">
          </div>
    </div>
</div>
{{#if user.inviteLinkCount}}
{{#unless invitePage}}
<div class="invite-banner">
<div class="invites">
{{{__n "help us grow" user.inviteLinkCount}}}
<a href="/actions/invite"  class="pure-button button-rounded invite-button"><span class="fa fa-heart spaced-icon invite-icon"></span>{{{__ "share the love"}}}</a>
</div>
</div>
{{/unless}}
{{/if}}
    <div id="main-body">
    {{#if localeChange}}
    <div id="uselang-notice" class="message-box">
    {{{__ "language temporarily changed" (getLanguageName localeChange.old)}}}
    <form name="change-language" method="post" action="/actions/change-language">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="redirect-to" value="{{urlPath}}">
    <br>
    <button type="submit" name="lang" value="{{localeChange.new}}" class="message-button pure-button button-rounded">{{{__ "change language permanently"}}}</button> <a class="cancel-link" href="{{urlPath}}">{{{__ "reload this page" (getLanguageName localeChange.old)}}}</a>
    </form>
    </div>
    {{/if}}
    <div id="site-messages">
    {{#each siteMessages}}
    <div class="message-box"><span class="fa fa-bell-o spaced-icon"></span>{{{__ "site notification" this}}}</div>
    {{/each}}
    </div>
    <div id="site-errors">
    {{#each siteErrors}}
    <div class="error-box"><span class="fa fa-exclamation-triangle spaced-icon"></span>{{{__ "site error" this}}}</div>
    {{/each}}
    </div>
    {{#unless deferPageHeader}}
    <h1 id="page-header">{{{__ titleKey titleParam }}}</h1>
    {{/unless}}

    {{{body}}}
    </div>
    <div id="footer">
    <form id="languages" action="/actions/change-language" method="post" name="languages">
    <input type="hidden" value="{{csrfToken}}" name="_csrf">
    <span class="fa fa-globe spaced-icon"></span>{{__ "current language" currentLanguage.name}} &ndash;
    {{{__ "change language" }}}
    {{#each languageNames}}
      {{#unless this.isCurrentLanguage}}
      <button class="pure-button button-rounded language-button" type="submit" name="lang" value="{{@key}}">{{{__ this.name}}}</button>
      {{/unless}}
    {{/each}}
    {{#if showLanguageNotice}}
    <input type="hidden" value="yes" name="has-language-notice">
    {{/if}}
    </form>
    <div id="freedom-notice">{{{__ "freedom"}}} <a href="/terms">{{{__ "terms"}}}</a> &ndash; {{{__ "code" "https://github.com/eloquence/lib.reviews" "https://notabug.org/freeyourstuff/lib.reviews"}}}</a> &ndash; <a href="/static/downloads">{{{__ "database downloads"}}} &ndash; <a href="/faq">{{{__ "faq acronym" }}}</a></div>
    </div>
  </div>
</div>
  <script type="text/javascript">
  {{{configScript}}}
  var module = {}; // For scripts that hardcode requireJS
  </script>
  {{#each scripts}}
  <script src="/static/js/{{this}}"></script>
  {{/each}}
  </body>
</html>
