<!DOCTYPE html>
<html>
  <head>
    <title>{{__ "site name"}} - {{__ "welcome"}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <hr>
    <small>{{{__ "select language" }}} <a href="/en">{{{__ "english" }}}</a> - <a href="/de">{{{__ "german" }}}</a></small>
  </body>
</html>
