<!DOCTYPE html>
<html>
  <head>
    <title>{{__ "site name"}} - {{__ "welcome"}}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    {{{body}}}
    <hr>
    <div id="languages">{{{__ "change language" }}}
    <ul>
    {{#each languages}}
      <li><a href="/{{@key}}">{{{__ this}}}</a>
    {{/each}}
    </ul>
  </div>
  </body>
</html>
