<div id="preview-contents" {{#unless isPreview}}class="hidden"{{/unless}}>
<h2 id="preview-review-url" {{#unless preview.review-url}}class="hidden"{{/unless}}><span id="preview-review-url-label">{{{__ "review of"}}}</span> <a href="{{preview.review-url}}" id="preview-review-url-link" target="_blank">{{preview.review-url-text}}</a></h2>
<h2 id="preview-review-title">{{preview.review-title}}</h2>
<span id="preview-review-rating">
{{#times preview.review-rating}}
<img src="/static/img/star-{{../preview.review-rating}}-full.svg" width="25" class="preview-star">
{{/times}}
</span>
<div id="preview-review-text">{{{preview.review-text}}}</div>
<div id="preview-review-byline">{{{__ "review byline" user.displayName preview.review-date}}}</div>
</div>
{{#each errors}}
  <div class="error">{{{this}}}</div>
{{/each}}
<div id="draft-notice">
<span class="fa fa-info-circle info-icon"></span> {{{__ "draft loaded"}}}
<a href="#" class="pure-button button-rounded button-destructive" id="abandon-draft"><span class="fa fa-trash-o spaced-icon"></span>{{__ "abandon draft"}}</a> <span class="pure-button button-rounded" id="dismiss-draft-notice"><span class="fa fa-check-circle spaced-icon"></span>{{{__ "got it"}}}</span>
</div>
<form class="pure-form pure-form-stacked" id="new-review-form" name="new-review-form" action="/new" method="post">
    <fieldset>
      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-2-3">
        <div class="pure-control-group">
            <label for="review-url">{{{__ "url"}}} <span class="required">*</span></label>
            <input id="review-url" name="review-url" type="text" class="pure-input-1" placeholder="{{{__ "enter web address"}}}" value="{{formValues.review-url}}">
            <div id="review-url-validation" class="validation-error">{{{__ "not a url"}}}</div>
            <div id="helper-links"><a href="#" id="add-https">{{{__ "add https"}}}</a> &ndash; <a href="#" id="add-http">{{{__ "add http"}}}</a></div>
        </div>
        <div class="pure-control-group">
            <label for="review-title">{{{__ "title"}}} <span class="required">*</span></label>
            <input id="review-title" name="review-title" type="text" class="pure-input-1" placeholder='{{{__ "enter title"}}}' value="{{formValues.review-title}}">
        </div>
          <div class="pure-control-group">
              <label for="review-text">{{{__ "review"}}} <span class="required">*</span></label>
              <textarea id="review-text" name="review-text" class="pure-input-1" placeholder="{{{__ "enter review"}}}">{{formValues.review-text}}</textarea>
          </div>
          <div class="pure-control-group">
          <label id="star-rating-label" for="review-rating">{{{__ "rating"}}} <span class="required">*</span></label>
        <div class="nojs-hidden">
          {{! We store this POST value in the DOM, so it is available to the JS-only control }}
          <span id="star-rating-control" data-post="{{formValues.review-rating.value}}">
          {{#times 5}}
          <img tabindex="0" src="/static/img/star-placeholder.svg" width="35" class="star-holder" id="star-button-{{this}}"
          alt="{{__n "one or multiple stars" this}}">
          {{/times}}
          </span>
        </div>
        <noscript>
        {{#times 5}}
        <input id="star-{{this}}" type="radio" name="review-rating"
        value="{{this}}" {{#if (lookup ../formValues.review-rating this)}} checked{{/if}}>
        <label for="star-{{this}}" class="inline-label inline-star-label">{{{__n "one or multiple stars" this}}}</label>
        {{/times}}
        </noscript>
      </div>

      <span id="show-extra-fields" class="nojs-hidden" tabindex="0" {{#if formValues.review-expand-extra-fields}} data-post-expanded{{/if}}><span class="fa fa-caret-right" id="extra-fields-collapsed"></span><span class="fa fa-caret-down" id="extra-fields-expanded"></span> {{{__ "add more"}}}</span>
      <div class="pure-control-group nojs-visible" id="extra-fields">
        <label for="review-language">{{{__ "review language"}}}</label>
        <select id="review-language" name="review-language" class="pure-input-1-2">
          {{! Mark previously POSTed value as selected, if any. Later, mark current language as selected, unless we have a POSTed value. Turn this into a helper if it gets anymore complicated than this.}}
          {{#each languages}}
          {{#if (lookup ../formValues.review-language @key)}}
          <option value="{{@key}}" selected>{{__ this.messageKey}}</option>
          {{else}}
          <option value="{{@key}}"{{#unless ../../formValues.review-language}}{{#if this.currentLanguage}} selected{{/if}}{{/unless}}>{{__ this.messageKey}}</option>
          {{/if}}
          {{/each}}
        </select>
      </div>

        </div>
        <div class="pure-u-1 pure-u-md-1-3">
          <div id="help" class="nojs-visible">
            <h3 class="help-heading nojs-visible"><span class="fa fa-question-circle info-icon"></span> {{{__ "help"}}}</h3>
            <noscript><b>{{{__ "url"}}}</b></noscript>
            <div id="help-text-review-url" class="help-text nojs-visible">
              {{{__ "pick any url"}}}
            </div>
            <noscript><b>{{{__ "title"}}}</b></noscript>
            <div id="help-text-review-title" class="help-text nojs-visible">
              {{{__ "pick a title"}}}
            </div>
            <noscript><b>{{{__ "review"}}}</b></noscript>
            <div id="help-text-review-text" class="help-text nojs-visible">
              {{{__ "write your review"}}}
            </div>
            <noscript><b>{{{__ "rating"}}}</b></noscript>
            <div id="help-text-review-rating" class="help-text nojs-visible">
              {{{__ "select rating"}}}
            </div>
          </div>

        </div>
        </div>
    </fieldset>

    <div class="validation-error" id="required-fields-message">
    {{{__ "complete all required fields"}}}
    </div>
    <div class="validation-error" id="form-error-message">
    {{{__ "correct errors"}}}
    </div>
    <div class="buttons-group">
    <button type="submit" id="publish" name="review-action" value="publish" class="pure-button pure-button-primary button-rounded" accesskey="s" title="{{{__ "accesskey" "s"}}}">{{{__ "publish"}}}</button>
    <button type="submit" id="preview" name="review-action" value="preview" class="pure-button button-rounded" accesskey="p" title="{{{__ "accesskey" "p"}}}">{{{__ "preview"}}}</button>
    <span class="nojs-hidden" id="live-preview-control">
    <input type="checkbox" id="live-preview">
    <label for="live-preview" class="inline-label" accesskey="l" title="{{{__ "accesskey" "l"}}}">{{__ "live preview"}}</label>
    </span>
    </div>
    </form>
  <div id="review-terms-notice">{{{__ "new review terms"}}}</div>
