<p>{{{__ "enter your info" }}}</p>
{{>page_errors}}
<div id="page-warnings">
{{#if user}}
<div class="warning-box">
{{{__ "already logged in"}}}
</div>
{{/if}}
</div>
<form class="pure-form pure-form-aligned" {{#if inviteCode}}action="/register/{{inviteCode}}"{{else}}action="/register"{{/if}} method="post">
<input type="hidden" value="{{csrfToken}}" name="_csrf">
<input type="hidden" name="returnTo" value="{{returnTo}}">
    <fieldset>
        <div class="pure-control-group">
            <label for="username">{{{__ "username"}}} <span class="required">*</span></label>
            <input id="username" name="username" type="text" data-required data-auto-trim data-focus placeholder="{{{__ "enter username"}}}" value="{{formValues.username}}" class="pure-input-1 login-form-input">
            <div id="username-characters-error" class="validation-error">{{{__ "invalid username characters" illegalUsernameCharactersReadable}}}</div>
            <div id="username-exists-error" class="validation-error">{{{__ "username exists"}}}</div>
        </div>

        <div class="pure-control-group">
            <label for="password">{{{__ "password"}}} <span class="required">*</span></label>
            <input id="password" name="password" type="password" placeholder="{{{__ "enter password"}}}" class="pure-input-1 login-form-input" data-required>
        </div>

        <div class="pure-control-group">
            <label for="email">{{{__ "email optional"}}}</label>
            <input id="email" name="email" type="text" data-auto-trim placeholder="{{{__ "enter email"}}}" value="{{formValues.email}}" size="30" class="pure-input-1 login-form-input">
        </div>

        {{#if questionCaptcha}}
        <div class="pure-control-group">
        <p>{{{__ "captcha intro"}}}</p>
            <label for="captcha-answer">{{{__ questionCaptcha.captcha.questionKey}}} <span class="required">*</span></label>
            <input id="captcha-answer" name="captcha-answer" type="text" data-auto-trim data-required placeholder="{{{__ "enter captcha answer"}}}" class="pure-input-1 login-form-input">
            <input name="captcha-id" value="{{questionCaptcha.id}}" type="hidden">
        </div>
        {{/if}}

        <div id="register-terms-notice">{{{__ "agree to terms"}}}</div>
        <div class="validation-error" id="form-error-message">
        {{{__ "correct errors"}}}
        </div>
        <div class="validation-error" id="required-fields-message">
        {{{__ "complete all required fields"}}}
        </div>
        <button type="submit" id="register-button" data-check-required class="pure-button pure-button-primary button-rounded">{{{__ "register"}}}</button>
        <p>{{{__ "already got an account" }}}</p>
    </fieldset>
</form>
