{{#if review.headerImage}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@lib_reviews">
<meta name="twitter:title" content="{{{mlString review.title false}}}">
<meta name="twitter:description" content="{{{summarize (mlString review.html false) 200}}}">
<meta name="twitter:image" content="{{{qualifiedURL}}}static/uploads/{{{review.headerImage}}}">
{{/if}}
<div id="page-messages">
{{#each pageMessages}}
<div class="message-box">{{{this}}}</div>
{{/each}}
</div>
<div class="centered-column">
<h1 id="page-header">
{{#if (mlString review.thing.label)}}
{{{__ "review of" (mlString review.thing.label)}}}
{{else}}
{{{__ titleKey (prettify review.thing.urls.[0])}}}
{{/if}}
</h1>
<div class="review">
{{> review review=review}}
</div>
</div>
