<div id="page-messages">
{{#each pageMessages}}
<div class="message-box">{{{this}}}</div>
{{/each}}
{{#if showLanguageNotice}}
{{> dismissible_notice icon="globe" messageKey="writing a review in language" id="language-notice-review" csrfToken=csrfToken}}
{{/if}}
</div>
<div id="preview-contents" {{#unless isPreview}}class="hidden"{{/unless}}>
<h2 id="preview-review-url" {{#unless formValues.url}}class="hidden"{{/unless}}><span id="preview-review-url-label">{{{__ "preview of"}}}</span> <a href="{{{formValues.url}}}" id="preview-review-url-link" target="_blank">{{prettify formValues.url}}</a></h2>
<h2 id="preview-review-title">{{{mlString formValues.title}}}</h2>
<span id="preview-review-rating">
{{#times formValues.starRating}}
<img src="/static/img/star-{{../formValues.starRating}}-full.svg" width="25" class="preview-star">
{{/times}}
</span>
<div id="preview-review-text">{{{mlString formValues.html}}}</div>
<div id="preview-review-byline">
{{#if formValues}}
{{{__ "byline" (userLink formValues.creator) formValues.createdOn}}}
{{else}}
{{{__ "byline" (userLink user) ''}}}
{{/if}}
</div>
</div>

{{>page_errors}}
<div id="draft-notice" class="message-box">
<span class="fa fa-info-circle spaced-icon"></span>{{{__ "draft loaded"}}}
<button id="abandon-draft" class="pure-button button-rounded message-button message-button-destructive"><span class="fa fa-trash-o spaced-icon"></span>{{__ "abandon draft"}}</a></button> <button class="pure-button button-rounded message-button" id="dismiss-draft-notice"><span class="fa fa-check-circle spaced-icon"></span>{{{__ "got it"}}}</button>
</div>
<form class="pure-form pure-form-stacked" id="review-form" name="review-form" method="post">
<input type="hidden" value="{{csrfToken}}" name="_csrf" id="review-token">
    <fieldset>
      <div class="pure-g">
        {{#if thing}}
        <div class="pure-u-1">
          <div class="pure-control-group">
            <label>{{#if editing}}{{{__ "editing review of"}}}{{else}}{{{__ "writing review of"}}}{{/if}}</label>
            <a href="/thing/{{thing.id}}">{{{getThingLabel thing}}}</a>
            <p>
          </div>
        </div>
        {{else}}
        {{#unless editing}}
        <div class="pure-u-1 pure-u-md-2-3">
          <div class="pure-control-group">
              <label for="review-url">{{{__ "url"}}} <span class="required">*</span></label>
              <input id="review-url" name="review-url" type="text" class="pure-input-1" data-required data-focus data-auto-trim placeholder="{{{__ "enter web address"}}}" value="{{{formValues.url}}}">
              <div id="review-url-error" class="validation-error">{{{__ "not a url"}}}</div>
              <div id="helper-links"><a href="#" id="add-https">{{{__ "add https"}}}</a> &ndash; <a href="#" id="add-http">{{{__ "add http"}}}</a></div>
          </div>
          <br>
        </div>
        <div class="pure-u-1 pure-u-md-1-3">
          {{>help input="review-url" helpLabel="url label" helpText="url help"}}
        </div>
        {{/unless}}
        {{/if}}
        <div class="pure-u-1 pure-u-md-2-3">
          <div class="pure-control-group">
              <label for="review-title">{{{__ "title"}}} <span class="required">*</span></label>
              <input id="review-title" name="review-title" type="text" class="pure-input-1" {{#if editing}}data-focus{{/if}} data-required data-auto-trim placeholder='{{{__ "enter title"}}}' value="{{{mlString formValues.title false}}}">
          </div>
          <br>
        </div>
        <div class="pure-u-1 pure-u-md-1-3">
          {{>help input="review-title" helpLabel="title label" helpText="title help"}}
        </div>
        <div class="pure-u-1 pure-u-md-2-3">
          <div class="pure-control-group">
              <label for="review-text">{{{__ "review"}}} <span class="required">*</span></label>
              <textarea id="review-text" name="review-text" class="pure-input-1" data-required data-auto-trim placeholder="{{{__ "enter review"}}}">{{{mlString formValues.text false}}}</textarea>
              <br>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-3">
          {{>help input="review-text" helpLabel="review" helpText="review help"}}
        </div>
        <div class="pure-u-1 pure-u-md-2-3">
          <div class="pure-control-group">
            <label id="star-rating-label" for="review-rating">{{{__ "rating"}}} <span class="required">*</span></label>
            <div class="nojs-hidden">
            {{! We store this POST value in the DOM, so it is available to the JS-only control }}
            <span id="star-rating-control" data-post="{{formValues.starRating}}">
            {{#times 5}}
            <img tabindex="0" src="/static/img/star-placeholder.svg" width="35" class="star-holder" id="star-button-{{this}}"
            alt="{{__n "one or multiple stars" this}}">
            {{/times}}
            </span>
            </div>
            <noscript>
            {{#times 5}}
            <input id="star-{{this}}" type="radio" name="review-rating"
            value="{{this}}" {{#if (lookup ../formValues.hasRating this)}} checked{{/if}}>
            <label for="star-{{this}}" class="inline-label inline-star-label">{{{__n "one or multiple stars" this}}}</label>
            {{/times}}
            </noscript>
            <p>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-3">
          <noscript>
            <div style="margin-left:1em;">
            <span class="help-heading"><span class="fa fa-question-circle info-icon spaced-icon"></span>{{{__ "rating"}}}</span><P>
            {{{__ "1 star help"}}}<br>
            {{{__ "2 stars help"}}}<br>
            {{{__ "3 stars help"}}}<br>
            {{{__ "4 stars help"}}}<br>
            {{{__ "5 stars help"}}}<br>
            </div>
          </noscript>
          {{>help input="star-button-1" nojsHidden=true helpLabel="rating" helpText="1 star help"}}
          {{>help input="star-button-2" nojsHidden=true helpLabel="rating" helpText="2 stars help"}}
          {{>help input="star-button-3" nojsHidden=true helpLabel="rating" helpText="3 stars help"}}
          {{>help input="star-button-4" nojsHidden=true helpLabel="rating" helpText="4 stars help"}}
          {{>help input="star-button-5" nojsHidden=true helpLabel="rating" helpText="5 stars help"}}
        </div>
        <div class="pure-u-1 pure-u-md-2-3">

      <input id="review-language" name="review-language" type="hidden" value="{{currentLanguage.langKey}}">

    </div>
    </div>
    </fieldset>

    <div class="validation-error" id="required-fields-message">
    {{{__ "complete all required fields"}}}
    </div>
    <div class="validation-error" id="form-error-message">
    {{{__ "correct errors"}}}
    </div>
    <div class="buttons-group">
    <button data-check-required type="submit" id="publish" name="review-action" value="publish" class="pure-button pure-button-primary button-rounded" accesskey="s" title="{{{__ "accesskey" "s"}}}">{{#if editing}}{{{__ "save"}}}{{else}}{{{__ "publish"}}}{{/if}}</button>
    <button type="submit" id="preview" name="review-action" value="preview" class="pure-button button-rounded" accesskey="p" title="{{{__ "accesskey" "p"}}}">{{{__ "preview"}}}</button>
    <span class="nojs-hidden" id="live-preview-control">
    <input type="checkbox" id="live-preview">
    <label for="live-preview" class="inline-label" accesskey="l" title="{{{__ "accesskey" "l"}}}">{{__ "live preview"}}</label>
    </span>
    </div>
    </form>
  <div id="review-terms-notice">{{{__ "new review terms"}}}</div>
