<title xml:lang="{{currentLanguage.langKey}}">{{{__ titleKey}}}</title>
<link href="{{{qualifiedURL}}}feed" />
<link href="{{{qualifiedURL}}}feed/atom" rel="self" />
<updated>{{{isoDate updatedDate}}}</updated>
<id>{{{qualifiedURL}}}feed</id>
{{#each feedItems}}
<entry>
  <id>urn:uuid:{{{this.id}}}</id>
  <title xml:lang="{{getLang this.title}}">{{{mlString this.title false}}}</title>
  <link href="{{{../qualifiedURL}}}review/{{this.id}}" />
  <updated>{{isoDate this._revDate}}</updated>
  <content type="html" xml:lang="{{getLang this.html}}">
  &lt;p&gt;
  &lt;b&gt;{{{__ "review feed label"}}}&lt;/b&gt;
  &lt;a href="{{{../qualifiedURL}}}thing/{{this.thing.id}}"&gt;
  {{#if this.thing.label}}{{{mlString this.thing.label}}}{{else}}{{{prettify this.thing.urls.[0]}}}{{/if}}
  &lt;/a&gt;
  &lt;/p&gt;
  {{mlString this.html false}}
  &lt;p&gt;
  {{#times this.starRating}}
  &lt;img src="{{{../../qualifiedURL}}}static/img/star-{{../this.starRating}}-full.svg" width="25" style="padding:3px;"{{#if @first}} alt="{{{__n "one or multiple stars" ../../this.starRating}}}"{{/if}}&gt;
  {{/times}}
  </content>
  <author>
    <name>{{{this.creator.displayName}}}</name>
    <uri>{{{../qualifiedURL}}}user/{{{this.creator.urlName}}}</uri>
  </author>
</entry>{{/each}}