<div id="page-messages">
{{#each pageMessages}}
<div class="message-box">{{{this}}}</div>
{{/each}}
</div>
<div class="centered-column">
<h1 id="page-header">
{{#if (mlString review.thing.label)}}
{{{__ "review of" (mlString review.thing.label)}}}
{{else}}
{{{__ titleKey (prettify review.thing.urls.[0])}}}
{{/if}}
</h1>
<div class="review">
{{> review review=review singleReview=true}}
</div>
</div>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Product",
  "name": "{{{mlString review.thing.label false}}}",
  "description": "{{{mlString review.thing.description false}}}",
{{#if socialImage}}  "image": "{{{qualifiedURL}}}static/uploads/{{{socialImage}}}",
{{/if}}  "review": [
    {
      "@type": "Review",
      "author": {
        "@type": "Person",
        "name": "{{{review.creator.displayName}}}"
      },
      "datePublished": "{{{review.createdOn}}}",
      "reviewBody": "{{{summarize (mlString review.html false) 250}}}",
      "headline": "{{{mlString review.title false}}}",
      "reviewRating": {
        "@type": "Rating",
        "bestRating": "5",
        "ratingValue": "{{{review.starRating}}}",
        "worstRating": "1"
      }
    }
  ]
}
</script>
