<p>{{{__ "papers please" }}}</p>
{{> page_errors}}
<form class="pure-form pure-form-aligned" action="/signin?returnTo={{returnTo}}" method="post">
<input type="hidden" value="{{csrfToken}}" name="_csrf">
    <fieldset>
        <div class="pure-control-group">
            <label for="username">{{{__ "username"}}} <span class="required">*</span></label>
            <input id="username" name="username" type="text" data-auto-trim placeholder="{{{__ "enter username"}}}" class="pure-input-1 login-form-input" data-required data-focus>
        </div>

        <div class="pure-control-group">
            <label for="password">{{{__ "password"}}} <span class="required">*</span></label>
            <input id="password" name="password" type="password" placeholder="{{{__ "enter password"}}}" class="pure-input-1 login-form-input" data-required>
        </div>
        <div class="validation-error" id="required-fields-message">
        {{{__ "complete all required fields"}}}
        </div>
        <button id="signin-button" data-check-required type="submit" class="pure-button pure-button-primary button-rounded">{{{__ "sign in"}}}</button>
        <p>{{{__ "no account yet" }}}</p>
    </fieldset>
</form>
