<p>{{{__ "papers please" }}}</p>
{{#each errors}}
  <div class="error">{{{this}}}</div>
{{/each}}
<form class="pure-form pure-form-aligned" action="/signin" method="post">
<input type="hidden" value="{{csrfToken}}" name="_csrf">
    <fieldset>
        <div class="pure-control-group">
            <label for="username">{{{__ "username"}}} <span class="required">*</span></label>
            <input id="username" name="username" type="text" placeholder="{{{__ "enter username"}}}" size="30">
        </div>

        <div class="pure-control-group">
            <label for="password">{{{__ "password"}}} <span class="required">*</span></label>
            <input id="password" name="password" type="password" placeholder="{{{__ "enter password"}}}" size="30">
        </div>
        <div class="validation-error" id="required-fields-message">
        {{{__ "complete all required fields"}}}
        </div>
        <button id="signin-button" type="submit" class="pure-button pure-button-primary button-rounded">{{{__ "sign in"}}}</button>
        <p>{{{__ "no account yet" }}}</p>
    </fieldset>
</form>
