{{#if deleteForm}}
<div class="warning-box">
  <div class="delete-preamble">
  {{{__ "delete preamble"}}}
  </div>
  <form class="pure-form pure-form-aligned" method="post">
  <input type="hidden" value="{{csrfToken}}" name="_csrf">
  <button type="submit" id="delete" name="team-action" value="delete" class="pure-button button-destructive button-rounded" accesskey="d" title="{{{__ "accesskey" "d"}}}"><span class="fa fa-trash-o spaced-icon"></span> {{{__ "delete"}}}</button>
  <a class="cancel-link" href="/team/{{team.id}}">{{{__ "cancel"}}}</a>
  </form>
</div>
{{/if}}

<div class="pure-g">
<div class="pure-u-1 pure-u-md-1-2">
<div class="team-info">
<h1 id="page-header" class="team-header">
{{{__ "team title" (mlString team.name)}}}
</h1>
<span class="team-motto">{{{mlString team.motto false}}}</span>
<p>
{{{mlString team.description.html false}}}
<p>

{{#if team.userCanJoin}} {{!Show join form to logged-in users who are not members}}
<hr class="team-separator">
<h3>{{{__ "join this team"}}}</h3>

{{#if (mlString team.rules.html)}}
<b>{{{__ "team rules label"}}}</b>
<div class="team-rules">
{{{mlString team.rules.html false}}}
</div>

<input type="checkbox" id="agree-to-rules" name="agree-to-rules">
<label for="agree-to-rules" class="inline-label">{{{__ "agree to the rules"}}}</label>
{{/if}}
<p>
{{#if team.modApprovalToJoin}}
<div class="join-textarea-container">
<i>{{{__ "approval required to join"}}}</i>
<textarea class="pure-input-1 join-textarea">
</textarea>
</div>
<p>
<p>
<button class="pure-button pure-button-primary button-rounded">{{{__ "request membership"}}}</button>
{{else}}
<button class="pure-button pure-button-primary button-rounded">{{{__ "join"}}}</button>
{{/if}}
{{else}}
<b>{{{__ "team rules label"}}}</b>
{{#if (mlString team.rules.html)}}
<div class="team-rules">
{{{mlString team.rules.html false}}}
</div>
{{/if}}

{{/if}} {{!End of join form}}
<p>
{{#if team.userCanEdit}}
<a href="/team/{{team.id}}/edit" id="edit-team" class="pure-button button-rounded edit-button" accesskey="e" title="{{{__ "accesskey" "e"}}}"><span class="fa fa-pencil spaced-icon"></span>{{{__ "edit"}}}</a>
{{/if}}
{{#if team.userCanDelete}}
{{#unless deleteForm}}
<a href="/team/{{team.id}}/delete" id="edit-team" class="pure-button button-rounded edit-button" accesskey="d" title="{{{__ "accesskey" "d"}}}"><span class="fa fa-trash-o spaced-icon"></span>{{{__ "delete"}}}</a>
{{/unless}}
{{/if}}
</div>
</div>

{{!Second column}}
<div class="pure-u-1 pure-u-md-1-2">
<div class="team-blog">
<h2 class="inline-feed-title">{{{__ "latest blog posts"}}}</h2>
<p>
{{>blog_feed}}
{{#if team.userCanBlog}}
<p>
<a href="/team/{{team.id}}/new/post" id="write-blog" class="pure-button button-rounded edit-button"><span class="fa fa-pencil spaced-icon"></span>{{{__ "write a blog post"}}}</a>
{{/if}}
</div>
</div>
</div>
