<h2 id="sub-header">{{{__ "team title" (link teamURL teamName)}}}</h2>
{{>page_errors}}
<div id="page-messages">
{{#each pageMessages}}
<div class="message-box">{{{this}}}</div>
{{/each}}
</div>
{{#unless team.joinRequests}}
{{{__ "no pending join requests"}}}
{{else}}
<form name="manage-join-requests" method="post">
<input type="hidden" value="{{csrfToken}}" name="_csrf">
<ul>
{{#each team.joinRequests}}
<li>
<b>{{{__ "request by"}}}</b><br>
{{{userLink this.user}}}
<p>
<b>{{{__ "request date"}}}</b><br> {{this.requestDate}}

{{#if this.requestMessage}}
<p>
<b>{{{__ "join request message"}}}</b><br>
<i>{{{this.requestMessage}}}</i>
{{/if}}
<p>
<b>{{{__ "choose action"}}}</b>
<p>
<input type="radio" name="action-{{this.id}}" value="ignore" id="action-{{this.id}}-ignore" checked>
<label for="action-{{this.id}}-ignore" class="inline-label">{{{__ "defer request"}}}</label><p>
<input type="radio" name="action-{{this.id}}" value="reject" id="action-{{this.id}}-reject">
<label for="action-{{this.id}}-reject" class="inline-label">{{{__ "reject request"}}}</label><p>
<textarea class="reject-request-textarea" name="reject-reason-{{this.id}}" placeholder="{{{__ "enter message"}}}"></textarea><p>
<input type="radio" name="action-{{this.id}}" value="accept" id="action-{{this.id}}-accept">
<label for="action-{{this.id}}-accept" class="inline-label">{{{__ "accept request"}}}</label>
{{/each}}
</ul>
<p>
<button type="submit" id="submit" name="manage-requests-action" value="process-requests" class="pure-button pure-button-primary button-rounded">{{{__ "process requests"}}}</button>

</form>
{{/unless}}
