<form class="pure-form pure-form-stacked" id="team-form" name="team-form" method="post">
<input type="hidden" value="{{csrfToken}}" name="_csrf">
<fieldset>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-2-3">
      <div class="pure-control-group">
        <label for="team-name">{{{__ "team name"}}} <span class="required">*</span></label>
        <input id="team-name" name="team-name" type="text" class="pure-input-1" data-auto-trim data-required data-focus placeholder="{{{__ "enter team name"}}}" value="{{{formValues.team-name}}}">
      </div>
      <br>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      {{>help input="team-name" helpLabel="team name" helpText="team name help"}}
    </div>
    <div class="pure-u-1 pure-u-md-2-3">
      <div class="pure-control-group">
        <label for="team-motto">{{{__ "team motto"}}} <span class="required">*</span></label>
        <input id="team-motto" name="team-motto" type="text" class="pure-input-1" data-auto-trim data-required placeholder="{{{__ "enter team motto"}}}" value="{{{formValues.team-motto}}}">
      </div>
      <br>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      {{>help input="team-motto" helpLabel="team motto" helpText="team motto help"}}
    </div>
    <div class="pure-u-1 pure-u-md-2-3">
      <div class="pure-control-group">
        <label for="team-description">{{{__ "team description"}}} <span class="required">*</span></label>
        <textarea id="team-description" name="team-description" class="pure-input-1 team-textarea" data-auto-trim data-required placeholder="{{{__ "enter team description"}}}">{{formValues.team-description}}</textarea>
      </div>
      <br>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      {{>help input="team-description" helpLabel="team description label" helpText="team description help"}}
    </div>
    <div class="pure-u-1 pure-u-md-2-3">
      <div class="pure-control-group">
        <label for="team-rules">{{{__ "team rules"}}} <span class="required">*</span></label>
        <textarea id="team-rules" name="team-rules" class="pure-input-1 team-textarea" data-auto-trim data-required placeholder="{{{__ "enter team rules"}}}">{{formValues.team-rules}}</textarea>
      </div>
      <br>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      {{>help input="team-rules" helpLabel="team rules label" helpText="team rules help"}}
    </div>
    <div class="pure-u-1 pure-u-md-2-3">
      <div class="pure-control-group">
        <input id="team-mod-approval-to-join" name="team-mod-approval-to-join" type="checkbox">
        <label for="team-mod-approval-to-join" class="inline-label">{{{__ "mod approval to join"}}}</label>
      </div>
      <p>
      <div class="pure-control-group">
        <input id="team-only-mods-can-blog" name="team-only-mods-can-blog" type="checkbox">
        <label class="inline-label" for="team-only-mods-can-blog">{{{__ "only mods can blog"}}}</label>
      </div>
      <p>
      <input id="team-language" name="team-language" type="hidden" value="{{currentLanguage.langKey}}">
    </div>
  </div>
</fieldset>
<div id="help" data-last-shown=""></div>
<div class="validation-error" id="required-fields-message">
  {{{__ "complete all required fields"}}}
</div>
<div class="validation-error" id="form-error-message">
  {{{__ "correct errors"}}}
</div>
  <button type="submit" id="save" name="team-action" value="publish" data-check-required class="pure-button pure-button-primary button-rounded" accesskey="s" title="{{{__ "accesskey" "s"}}}">{{{__ "save"}}}</button>
</form>
