{{#if deleteForm}}
<div class="warning-box">
  <div class="delete-preamble">
  {{{__ "delete preamble"}}}
  </div>
  <form class="pure-form pure-form-aligned" method="post" name="delete-form">
  <input type="hidden" value="{{csrfToken}}" name="_csrf">
  <button type="submit" id="delete" name="team-action" value="delete" class="pure-button button-destructive button-rounded" accesskey="d" title="{{{__ "accesskey" "d"}}}"><span class="fa fa-fw fa-trash-o spaced-icon">&nbsp;</span> {{{__ "delete"}}}</button>
  <a class="cancel-link" href="/team/{{{team.urlID}}}">{{{__ "cancel"}}}</a>
  </form>
</div>
{{/if}}
<div id="page-messages">
{{#each pageMessages}}
<div class="message-box">{{{this}}}</div>
{{/each}}
</div>
<div class="pure-g">
<div class="pure-u-1 pure-u-md-1-2">
<div class="team-info">
<h1 id="page-header" class="team-header">
{{{__ "team title" (mlString team.name)}}}
</h1>
<span class="team-motto">{{{mlString team.motto false}}}</span>
<p>
{{{mlString team.description.html false}}}
<p>
{{!LINK TO ROSTER AND MODERATORS LIST}}
<b>{{{__ "number of members"}}}</b> {{{team.members.length}}} <a href="/team/{{{team.urlID}}}/members">{{{__ "view list"}}}</a>
<p>
<b>{{{__ "moderators"}}}</b>
<ul class="team-member-list">
{{#each team.moderators}}
<li> {{{userLink this}}}{{#if (lookup ../founder this.id)}}<span class="user-team-badge">{{{__ "founder badge"}}}{{/if}}</span>
{{/each}}
</ul>
{{!/LINK TO ROSTER AND MODERATORS LIST}}
{{!JOIN FORM}}
{{#if team.userCanJoin}} {{!Show join form to logged-in users who are not members}}
<form name="join-team" action="/team/{{{team.urlID}}}/join" method="post" class="no-print">
<input type="hidden" value="{{csrfToken}}" name="_csrf">
<hr class="team-separator">
{{>page_errors pageErrors=joinErrors}}
<h3>{{{__ "join this team"}}}</h3>

{{#if (mlString team.rules.html)}}
<b>{{{__ "team rules label"}}}</b>
<div class="team-rules">
{{{mlString team.rules.html false}}}
</div>

<input type="checkbox" id="agree-to-rules" name="agree-to-rules">
<label for="agree-to-rules" class="inline-label">{{{__ "agree to the rules"}}}</label>
{{/if}}
<p>
{{#if team.modApprovalToJoin}}
<div class="join-textarea-container">
<i>{{{__ "approval required to join"}}}</i>
<textarea class="pure-input-1 join-textarea" name="join-request-message">
</textarea>
</div>
<p>
<p>
<button class="pure-button pure-button-primary button-rounded" type="submit" name="team-action" value="join">{{{__ "request membership"}}}</button>
{{else}}
<button class="pure-button pure-button-primary button-rounded" type="submit" name="team-action" value="join">{{{__ "join"}}}</button>
{{/if}}
</form>
{{!/JOIN FORM}}
{{!JUST THE RULES}}
{{else}}
{{#if (mlString team.rules.html)}}
<b>{{{__ "team rules label"}}}</b>
<div class="team-rules">
{{{mlString team.rules.html false}}}
</div>
{{/if}}
{{/if}}
{{!/JUST THE RULES}}
{{!LEAVE FORM}}
{{#if team.userCanLeave}}
<form name="leave-team" action="/team/{{{team.urlID}}}/leave" class="no-print" method="POST">
<input type="hidden" value="{{csrfToken}}" name="_csrf">
<button class="pure-button pure-button-primary button-rounded" type="submit" name="team-action" value="leave">{{{__ "leave team"}}}</button>
</form>
{{/if}}
{{!/LEAVE FORM}}
<p>
{{!EDIT/DELETE}}
{{#if team.userCanEdit}}
<a href="/team/{{{team.urlID}}}/edit" id="edit-team" class="no-print pure-button button-rounded edit-button" accesskey="e" title="{{{__ "accesskey" "e"}}}"><span class="fa fa-fw fa-pencil spaced-icon">&nbsp;</span>{{{__ "edit"}}}</a>
{{/if}}
{{#if team.userCanDelete}}
{{#unless deleteForm}}
<a href="/team/{{{team.urlID}}}/delete" id="edit-team" class="no-print pure-button button-rounded edit-button" accesskey="d" title="{{{__ "accesskey" "d"}}}"><span class="fa fa-fw fa-trash-o spaced-icon">&nbsp;</span>{{{__ "delete"}}}</a>
{{/unless}}
{{/if}}
</div>
</div>
{{!/EDIT/DELETE}}
{{!SECOND COLUMN: REVIEWS}}
<div class="pure-u-1 pure-u-md-1-2">
<div class="headline-with-link">
<h2 class="inline-feed-headline">{{{__ "latest review"}}}</h2>{{#if team.reviews}}
<span class="view-all-link no-print"><a href="/team/{{{team.urlID}}}/feed">{{{__ "view all"}}}</a></span>{{/if}}
</div>
<p>
{{#unless team.reviews}}
{{{__ "no reviews for team"}}}
<p>
{{/unless}}
{{#if team.userIsMember}}
<a href="/team/{{team.urlID}}/new/review" id="write-review" class="pure-button button-rounded edit-button"><span class="fa fa-fw fa-pencil spaced-icon">&nbsp;</span>{{{__ "write a review"}}}</a><p>
{{/if}}
{{#if team.reviews}}
{{>feed feedItems=team.reviews teamFeed=true}}
{{/if}}
<p>
{{!/SECOND COLUMN: REVIEWS}}
<br>
{{!SECOND COLUMN: BLOG POSTS}}
<div class="team-blog">
<div class="headline-with-link"><h2 class="inline-feed-headline">{{{__ "latest blog posts"}}}</h2>{{#if blogPosts}}<span class="view-all-link no-print"><a href="/team/{{{team.urlID}}}/blog">{{{__ "view all"}}}</a></span>{{/if}}</div>
<p>
{{>blog_feed}}
</div>
</div>
{{!/SECOND COLUMN: BLOG POSTS}}
</div>
<!-- Permanent URL: {{qualifiedURL}}team/{{{team.urlID}}} -->
