{{>page_errors}}
<div id="page-messages">
{{#each pageMessages}}
<div class="message-box">{{{this}}}</div>
{{/each}}
</div>
<div class="centered-column">
<!-- permanent ID of this item: {{{thing.id}}} -->
<span itemscope itemtype="https://schema.org/Product">
<h1 id="page-header">
<span itemprop="name">{{{getThingLabel thing}}}</span>{{>sync_info thing=thing sync=thing.sync.label editable=true field="label"}}
</h1>
{{#if (mlString thing.subtitle)}}
<h2 id="sub-header">{{{mlString thing.subtitle}}}{{>sync_info thing=thing sync=thing.sync.subtitle editable=false}}
</h2>
{{/if}}

<ul class="fa-ul thing-data-list">
{{#if thing.urls}}
<li class="thing-data-list-item"><span class="fa fa-li fa-external-link thing-data-icon">&nbsp;</span>
{{{link thing.urls.[0] (prettify thing.urls.[0])}}}

{{#if thing.userCanEdit}}<a href="/{{{thing.urlID}}}/manage/urls" id="manage-urls" class="pure-button button-rounded no-print"><span class="fa fa-fw fa-cogs spaced-icon">&nbsp;</span>
{{{__ "manage links"}}}
</a>
{{/if}}
{{!Additional URLs beyond the primary URL are presented in a compact table, categorized:}}
{{#if taggedURLs}}
<table class="thing-data-urls-table">
{{#each taggedURLs}}
<tr>
<td class="thing-data-urls-table-tag">{{{__ (getTagMsgKey @key)}}}</td>
<td>
{{#each (lookup ../taggedURLs @key)}}
{{#ifCond this.id '==' 'unknown'}}
<span class="thing-data-urls-table-link">{{{link this.url (prettify this.url)}}}</span>
{{else}}
<span class="thing-data-urls-table-link"><a href="{{{this.url}}}">{{{__ (getSourceMsgKey this.id)}}}</a></span>
{{/ifCond}}
{{/each}}
</td>
</tr>
{{/each}}
</table>
{{/if}}
</li>
{{/if}}
{{#ifCond (mlString thing.description) '||' thing.userCanEdit}}
<li class="thing-data-list-item"><span class="fa fa-li fa-info-circle thing-data-icon">&nbsp;</span>
{{#if (mlString thing.description)}}
{{! The powertip is shown for JS users, and includes a clickable link to the source from which the data was synced.}}
<span itemprop="description">{{{mlString thing.description}}}</span>{{>sync_info thing=thing field="description" sync=thing.sync.description editable=true}}
{{else}}
{{#if thing.userCanEdit}}
<a href="/{{{thing.urlID}}}/edit/description" id="add-description" class="pure-button button-rounded no-print"><span class="fa fa fa-pencil spaced-icon">&nbsp;</span>
{{{__ "add description"}}}
</a>
{{/if}}
</li>
{{/if}}
{{/ifCond}}
{{#if thing.authors}}
<li class="thing-data-list-item">
<span class="fa fa-li fa-user thing-data-icon">&nbsp;</span>
{{#each thing.authors}}
{{{mlString this false}}}{{#unless @last}}, {{/unless}}
{{/each}}
{{>sync_info thing=thing sync=thing.sync.authors}}
</li>
{{/if}}

{{#if thing.files}}
{{>uploads}}
{{/if}}
</ul>
{{#if thing.userCanUpload}}
{{>upload_form}}
{{/if}}
{{#if hasMoreThanOneReview}}
<div class="review-metrics">
{{{__ "review metrics" (__n "one or multiple stars" (round thing.averageStarRating 1)) (__n "one or multiple reviews" thing.numberOfReviews)}}}
</div>
{{/if}}
<span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
<meta itemprop="ratingValue" content="{{{round thing.averageStarRating 1}}}"/>
<meta itemprop="ratingCount" content="{{{thing.numberOfReviews}}}"/>
</span>
</span>
{{#if userReviews}}
<h2 class="sub-header-regular" id="your-review">{{{__ "your review"}}}</h2>
{{>feed thingFeed=true feedItems=userReviews paginationURL=false highlightFirstReview=true}}
{{/if}}
{{#if otherReviews}}
<h2 class="sub-header-regular">{{#if userReviews}}{{{__ "other reviews"}}}{{else}}{{{__ "reviews"}}}{{/if}}</h2>
{{#if user}}
{{#unless userReviews}}
<p><a href="/new/review/{{{thing.urlID}}}" id="add-review" class="pure-button button-rounded no-print"><span class="fa fa-fw fa-pencil spaced-icon">&nbsp;</span>{{{__ "add your review"}}}</a></p>
{{/unless}}
{{else}}
<p><b>{{{__ "sign in to review"}}}</b></p>
{{/if}}
{{>feed thingFeed=true feedItems=otherReviews}}
{{/if}}
</div>
