<div id="page-messages">
{{#each pageMessages}}
<div class="message-box">{{{this}}}</div>
{{/each}}
</div>
{{{__ "manage links intro 1"}}}
<p>
<b>{{{getThingLink thing}}}</b>
<p>
{{{__ "manage links intro 2"}}}
<p>
{{>page_errors}}
<p>
<form class="pure-form" method="post" autocomplete="off">
<input type="hidden" value="{{csrfToken}}" name="_csrf">
<table class="pure-table">
<thead>
<tr><th>{{{__ "web address"}}}</th><th>{{{__ "primary link" }}}</th></tr>
</thead>
{{#times numberOfFields}}
<tr valign="top">
<td class="max-width"><input name="url-{{@zeroIndex}}" data-url-input type="text" class="max-width" value="{{{lookup ../urls @zeroIndex}}}" placeholder="{{{__ "enter web address short"}}}" {{#if @first}}data-focus{{/if}}>
{{! Placeholder, used by client-side validation code}}
<div id="url-validation-{{@zeroIndex}}"></div>
</td>
<td><input type="radio" name="primary" value="{{@zeroIndex}}" {{#ifCond @zeroIndex '===' ../primary}}checked{{/ifCond}}></td>
{{/times}}
</tr>
<tr id="add-more-row" class="nojs-hidden"><td colspan="2" align="right"><button type="button" id="add-more" class="pure-button button-rounded" accesskey="a" title="{{{__ "accesskey" "a"}}}">{{{__ "add more links"}}}</button></td>
</table>
<p>
<div class="validation-error" id="form-error-message">
{{{__ "correct errors"}}}
</div>
<button type="submit" data-check-required class="pure-button pure-button-primary button-rounded" accesskey="s" title="{{{__ "accesskey" "s"}}}">
{{{__ "update links"}}}
</button>
</form>
