<h2 id="sub-header">{{{__ "related to" (getThingLink thing)}}}</h2>
{{{__ "please complete your upload" }}}
<p>
<form class="pure-form pure-form-stacked" method="post">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<input name="upload-language" type="hidden" value="{{currentLanguage.langKey}}">
{{#each uploadedFiles}}
<b>{{{__ "filename"}}}</b> {{this.name}}

{{{renderFilePreview this}}}

<input type="hidden" name="upload-{{this.id}}" value="1">
<p>
<fieldset><div class="pure-g">
  <div class="pure-u-1 pure-u-md-2-3">
    <div class="pure-control-group">
        <label for="upload-{{this.id}}-description">{{{__ "upload description"}}} <span class="required">*</span></label>
        <textarea id="upload-{{this.id}}-description" name="upload-{{this.id}}-description"  class="pure-input-1" data-required placeholder='{{{__ "enter description"}}}'></textarea>
    </div>
    <br>
  </div>
  <div class="pure-u-1 pure-u-md-1-3">
    {{>help input=(substitute "upload-%1-description" this.id) helpLabel="upload description" helpText="upload description help"}}
  </div>

  <div class="pure-u-1">
  <div class="pure-control-group">
  <input type="radio" data-hide="expanded-info-{{this.id}}" data-disable-required-group="upload-metadata-{{this.id}}" id="upload-{{this.id}}-by-uploader" name="upload-{{this.id}}-by" value="uploader" checked> <label class="inline-label" for="upload-{{this.id}}-by-uploader">{{{__ "my own work"}}}</label><p>
  <input type="radio" id="upload-{{this.id}}-by-other" name="upload-{{this.id}}-by" value="other" data-show="expanded-info-{{this.id}}" data-enable-required-group="upload-metadata-{{this.id}}"> <label class="inline-label" for="upload-{{this.id}}-by-other">{{{__ "someone else's work"}}}</label>
  </div>
  </div>

  <div class="hidden-regular nojs-visible placeholder-width" id="expanded-info-{{this.id}}">
  <div class="pure-u-1 pure-u-md-2-3">
    <div class="pure-control-group indented-control-group">
        <label for="upload-{{this.id}}-creator">{{{__ "creator"}}} <span data-required-indicator-group="upload-metadata-{{this.id}}" class="hidden">*</span></label>
        <input type="text" size="80" id="upload-{{this.id}}-creator" name="upload-{{this.id}}-creator"  class="pure-input-1" data-required-input-group="upload-metadata-{{this.id}}" placeholder='{{{__ "enter creator name"}}}'>
    </div>
    <br>
  </div>
  <div class="pure-u-1 pure-u-md-1-3">
    {{>help input=(substitute "upload-%1-creator" this.id) helpLabel="creator" helpText="creator help"}}
  </div>

  <div class="pure-u-1 pure-u-md-2-3">
    <div class="pure-control-group indented-control-group">
        <label for="upload-{{this.id}}-source">{{{__ "source"}}} <span data-required-indicator-group="upload-metadata-{{this.id}}" class="hidden">*</span></label>
        <input type="text" id="upload-{{this.id}}-source" name="upload-{{this.id}}-source"  class="pure-input-1" data-required-input-group="upload-metadata-{{this.id}}" placeholder='{{{__ "enter source"}}}'>
    </div>
    <br>
  </div>
  <div class="pure-u-1 pure-u-md-1-3">
    {{>help input=(substitute "upload-%1-source" this.id) helpLabel="source help label" helpText="source help"}}
  </div>

  <div class="pure-u-1 pure-u-md-2-3">
    <div class="pure-control-group indented-control-group">
      <b>{{{__ "license"}}}</b>
      <p>
        <input type="radio"  name="upload-license-{{this.id}}" id="upload-license-{{this.id}}-fair-use" value="fair-use" checked> <label class="inline-label" for="upload-license-{{this.id}}-fair-use">{{{__ "fair use"}}}</label><p>

        <input type="radio" id="upload-license-{{this.id}}-cc-0" name="upload-license-{{this.id}}" value="cc-0"> <label class="inline-label" for="upload-license-{{this.id}}-cc-0">{{{__ "cc-0"}}}</label><p>

        <input type="radio" id="upload-license-{{this.id}}-cc-by" name="upload-license-{{this.id}}" value="cc-by"> <label class="inline-label" for="upload-license-{{this.id}}-cc-by">{{{__ "cc-by"}}}</label><p>

        <input type="radio" id="upload-license-{{this.id}}-cc-by-sa" name="upload-license-{{this.id}}" value="cc-by-sa"> <label class="inline-label" for="upload-license-{{this.id}}-cc-by-sa">{{{__ "cc-by-sa"}}}</label><p>

  </div>
  </div>
  </div>

{{#unless @last}}
<div class="pure-u-1 pure-u-md-2-3">
<hr class="feed-separator">
</div>
{{/unless}}
</div></fieldset>
{{/each}}

<div class="validation-error" id="required-fields-message">
{{{__ "complete all required fields"}}}
</div>
<div class="validation-error" id="form-error-message">
{{{__ "correct errors"}}}
</div>
<button id="finish-upload" class="pure-button pure-button-primary button-rounded" data-check-required type="submit">{{{__ "finish upload"}}}</button>

</form>
