{{>page_errors}}
{{#if showLanguageNotice}}
{{> dismissible_notice icon="globe" messageKey="editing in language" id="language-notice-thing" csrfToken=csrfToken}}
{{/if}}
{{#if edit.label}}
  <form class="pure-form pure-form-aligned" method="post" action="">
  <input type="text" class="pure-input-1-2" id="thing-edit-label" name="thing-label" value="{{mlString thing.label false}}" placeholder="{{{__ "enter label"}}}" size="64" data-auto-trim>
  <input type="hidden" value="{{csrfToken}}" name="_csrf">
  <input type="hidden" name="thing-label-language" value="{{currentLanguage.langKey}}">
  <button type="submit" id="save" name="thing-action" value="save" class="pure-button pure-button-primary button-rounded" accesskey="s" title="{{{__ "accesskey" "s"}}}">{{{__ "save"}}}</button>
  <a class="cancel-link" href="/thing/{{thing.id}}">{{__ "cancel"}}</a>
  </form>
  <p>
{{else}}
  <h1 id="page-header">
  {{#if (mlString thing.label)}}
    {{{mlString thing.label}}}
  {{/if}}
  {{#if thing.userCanEdit}}
  <a href="/thing/{{thing.id}}/edit/label" id="add-label" class="pure-button button-rounded"><span class="fa fa-pencil spaced-icon"></span>
    {{#if (mlString thing.label)}}{{{__ "edit"}}}{{else}}{{{__ "add label"}}}{{/if}}
  </a>
  {{/if}}
  </h1>
{{/if}}

{{#if thing.mainURL}}
<span class="fa fa-external-link review-icon"></span>{{{link thing.mainURL (prettify thing.mainURL)}}}
{{/if}}
<div id="thing">
<div id="thing-label"></div>
<div id="thing-short-desc"></div>
<div id="thing-aliases"></div>
<div id="thing-main-url"></div>
<div id="thing-other-urls"></div>
<div id="thing-data">
  {{#if thing.isA.book}}
  <div id="book-author" class="link-human"></div>
  <div id="book-title"></div>
  {{/if}}
  {{#if thing.isA.business}}
  <div id="business-address"></div>
  <div id="business-map"></div>
  <div id="business-hours"></div>
  {{/if}}
</div>
</div>
