<title xml:lang="{{currentLanguage.langKey}}">{{{__ titleKey (getThingLabel thing)}}}</title>
<link href="{{{htmlURL}}}" />
<link href="{{{selfURL}}}" rel="self" />
<updated>{{{isoDate updatedDate}}}</updated>
<id>{{{htmlURL}}}</id>
{{>feed_atom}}